/* CSS AYUDANTES
-------------------------------------------------- */
.colorPUCE{
  background-color: rgb(76, 191, 220);
}
#alert,#forgot-box{
  display:none;
}
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
body {
   padding:10px;
   padding-bottom:50px;   /* Height of the footer */
}
#footer1{
  margin: none;
  padding: none;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  font-size: 60%;
}
.test {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none !important;
}
.test:hover{
  color: #16181b;
  background-color: #f8f9fa;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
